<div marginwidth="0" marginheight="0" style="height: auto !important; width: 100% !important; font-family: Helvetica, Arial, sans-serif !important; margin-bottom: 40px;">
    <center>
        <table
            style="max-width: 600px; background-color: #ffffff; border: 1px solid #e4e2e2; border-collapse: separate !important; border-radius: 4px; border-spacing: 0; color: #242128; margin: 0; padding: 40px;"
            cellspacing="0"
            cellpadding="0"
            border="0"
            bgcolor="#ffffff"
        >
            <tbody>
                <tr>
                    <td style="padding-bottom: 40px; border-top: 0; height: 100% !important; width: 70% !important;" valign="center" align="left">
                        <h3>Получено оповещение от единой информациионной системы</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 10px; border-top: 1px solid #e4e2e2;">
                        <h3 style="color: #303030; font-size: 18px; line-height: 1.6; font-weight: 500;">
                            Почему Вы получили данное письмо?
                        </h3>
                        <p style="color: #8f8f8f; font-size: 14px; padding-bottom: 20px; line-height: 1.4;">
                            &nbsp;Здравствуйте, заказчик {{ customer_name }} разместил в
                            <a href="https://zakupki.gov.ru/epz/order/notice/ea44/view/documents.html?regNumber={{ purchase_number }}" target="_blank">
                                ЕИС
                            </a>
                            информацию об одностороннем расторжении контракта. <br />
                        </p>
                        <h3 style="color: #303030; font-size: 18px; line-height: 1.6; font-weight: 500;">Какими могут быть последствия?</h3>
                        <p
                            style="
                                background-color: #f1f1f1;
                                padding: 8px 15px;
                                border-radius: 15px;
                                display: inline-block;
                                margin-bottom: 20px;
                                font-size: 14px;
                                line-height: 1.4;
                                font-family: Courier New, Courier, monospace;
                                margin-top: 0;
                            "
                        >
                            &nbsp;Согласно ч.2, ст.104, 44-ФЗ, заказчик будет обязан отправить сведения в УФАС. 
                            <br/>
                            &nbsp;На основании чего Вам грозит попадание в реестр недобросовестных поставщиков. Невозможность участия в государственных и коммерческих конкурсных заказах, а также может повлечь расторжение действующих контрактов. 
                        </p>
                        <h3 style="color: #303030; font-size: 18px; line-height: 1.6; font-weight: 500;">Для чего это письмо?</h3>
                        <p
                            style="
                                background-color: #f1f1f1;
                                padding: 8px 15px;
                                border-radius: 15px;
                                display: inline-block;
                                margin-bottom: 20px;
                                font-size: 14px;
                                line-height: 1.4;
                                font-family: Courier New, Courier, monospace;
                                margin-top: 0;
                                text-align: center;
                            "
                        >
                            &nbsp;Мы представляем <strong>некоммерческую организацию</strong>, которая занимается решением вопросов между заказчиком и поставщиком посредством <strong>содействия с УФАС</strong>. <br />
                            <strong> &nbsp;Мы можем помочь Вам в решении данного вопроса. </strong>
                        </p>
                        <h3 style="color: #303030; font-size: 18px; line-height: 1.6; font-weight: 500;">Контактные данные Вашего персонального менеджера</h3>
                        <ol style="color: #8f8f8f; font-size: 14px; padding-bottom: 20px; padding-left: 20px; line-height: 1.6;">
                            <li>
                                Контактное лицо: {{ contact_manager_name }}
                            </li>
                            <li>Электронная почта: <a href="mailto:{{ manager.email }}" target="_blank">{{ contact_manager_email }}</a></li>
                            <li>
                                Мобильный телефон: {{ contact_manager_phone }}
                            </li>
                        </ol>
                        <table style="width: 100%; text-align: center;">
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="https://www.a-u-z.ru/comments" style="text-decoration: none;" target="_blank">
                                            <span style="color: rgb(12, 148, 255); font-weight: normal; line-height: 2; font-size: 14px;"> Отзывы </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://disk.yandex.ru/d/9Cjeq2riSjWo5w?w=1" style="text-decoration: none;" target="_blank">
                                            <span style="color: rgb(12, 148, 255); font-weight: normal; line-height: 2; font-size: 14px;"> Наша практика </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.a-u-z.ru/association-activities" style="text-decoration: none;" target="_blank">
                                            <span style="color: rgb(12, 148, 255); font-weight: normal; line-height: 2; font-size: 14px;"> Мы в СМИ </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
